<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mecha Arts Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/lightbox/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="background-image: url('/images/parts.jpg'); background-size: 100%; background-position: center; color: white">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/" style="width: 50px">
            <img src="http://gdj.graphicdesignjunction.com/wp-content/uploads/2016/05/007+line+logo.jpg" alt="">
        </a>
    </nav>