<% include ./partials/header %>

<div class="container">

    <h1> Business Card </h1>


    <div class="row">
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/business_card/business_card.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/business_card/business_card.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/business_card/business_card_1.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image"
                    src="/MechArt/business_card/business_card_1.jpg" alt="" />
            </a> </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
    </div>

</div>
<% include ./partials/footer %>