<% include ./partials/header %>

<div class="container">

    <h1> DJ </h1>


    <div class="row">
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/dj/dj.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/dj/dj_1.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image"
                    src="/MechArt/dj/dj_1.jpg" alt="" />
            </a> </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/dj/dj_2.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj_2.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/dj/dj_3.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj_3.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/dj/dj_4.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj_4.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/dj/dj_5.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj_5.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/dj/dj_6.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj_6.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/dj/dj_7.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/dj/dj_7.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">

        </div>
    </div>

</div>
<% include ./partials/footer %>