<% include ./partials/header %>

<div class="container">

    <h1> Drummer </h1>


    <div class="row">
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/drummer/drummer.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/drummer/drummer.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/drummer/drummer_1.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img
                    class="example-image" src="/MechArt/drummer/drummer_1.jpg" alt="" />
            </a> </div>
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/drummer/drummer_2.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img
                    class="example-image" src="/MechArt/drummer/drummer_2.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/drummer/drummer_3.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img
                    class="example-image" src="/MechArt/drummer/drummer_3.jpg" alt="" />
            </a>
        </div>
    </div>

</div>
<% include ./partials/footer %>