<% include ./partials/header %>

<div class="container">

    <h1> Pipes </h1>


    <div class="row">
        <div class="col-sm-3">
            <a class="example-image-link" href="/MechArt/pipes/pipe_1.jpg" data-lightbox="example-set"
                data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="/MechArt/pipes/pipe_1.jpg" alt="" />
            </a>
        </div>
        <div class="col-sm-3">
                <a class="example-image-link" href="/MechArt/pipes/pipe_2.jpg" data-lightbox="example-set"
                    data-title="Click anywhere outside the image or the X to the right to close.">
                    <img class="example-image" src="/MechArt/pipes/pipe_2.jpg" alt="" />
                </a>
            </div>
   
    </div>

</div>
<% include ./partials/footer %>